$font-family:                       'Open Sans';

$font-size-mega:                    40px; 
$font-size-mega-device:             36px; 

$font-size-header:                  22px; 
$font-size-header-device:           20px; 

$font-size-small:                   14px; 
$font-size-medium:                  15px; 
$font-size-large:                   18px; 